
/DataStoreInsertApp/.vs
/DataStoreInsertApp/DataStoreInsertApp/bin
/DataStoreInsertApp/DataStoreInsertApp/obj
/ServiceMessageSender/ServiceMessageSender/obj
/AzureStorageAccountDemo/.vs
/AzureStorageAccountDemo/AzureStorageAccountDemo/bin
/AzureStorageAccountDemo/AzureStorageAccountDemo/obj
/AzureKeyVaultManagedIdentity/AzureKeyVaultManagedIdentity/bin
/AzureKeyVaultManagedIdentity/AzureKeyVaultManagedIdentity/obj
/RedisCacheBlobReaderDemo/RedisCacheBlobReaderDemo/bin
/RedisCacheBlobReaderDemo/RedisCacheBlobReaderDemo/obj
/AppconfigurationDemoNet6/.vs
/AppconfigurationDemoNet6/WebDemoNet6/bin
/AppconfigurationDemoNet6/WebDemoNet6/obj
/ApplicationInsightDocker/.vs
/ApplicationInsightDocker/ApplicationInsightDocker/bin
/ApplicationInsightDocker/ApplicationInsightDocker/obj
/CosmosDB-EmployeeManagement/.vs
/event-hub-sender-master/event-hub-sender-master/bin
/event-hub-sender-master/event-hub-sender-master/obj
/event-hub-sender-master/EventHubSender/.vs
/event-hub-sender-master/EventHubSender/EventHubSampleSendData/bin
/event-hub-sender-master/EventHubSender/EventhubSenderConsole/obj
/event-hub-sender-master/EventHubSender/packages
/EventGridPublisher/EventGridEventPublisher/.vs
/EventGridPublisher/bin
/EventGridPublisher/obj
/LiveapplicationInsight/IiveApplicationInsight/bin
/LiveapplicationInsight/IiveApplicationInsight/obj
/ManagedIdentityDemoFunctionApp/.vs
/Queue-Reader-publisher/MessageReader/bin
/Queue-Reader-publisher/MessageReader/obj
/Queue-Reader-publisher/ServiceBusQueueMessageSender/bin
/Queue-Reader-publisher/ServiceBusQueueMessageSender/obj
/Queue-Reader-publisher/ServiceBusTopicReader/bin
/Queue-Reader-publisher/ServiceBusTopicReader/obj
/Queue-Reader-publisher/StorageQueueMessageSender/bin
/Queue-Reader-publisher/StorageQueueMessageSender/obj
/CosmosDB-EmployeeManagement/EmployeeManagement/Properties
/event-hub-sender-master/EventHubSender/EventhubSenderConsole/bin
