@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure Storage Account</h1>
   
    <a href="@Url.Action("Index", "FileUpload")" class="btn btn-secondary">Uploaded Files</a>
    <a href="@Url.Action("ListBlobs", "FileUpload")" class="btn btn-secondary">View Uploaded Files</a>
    <a href="@Url.Action("ContainerOperations", "FileUpload")" class="btn btn-secondary">Manage Containers</a>
    <a href="@Url.Action("GenerateSasToken", "FileUpload")" class="btn btn-secondary">Generate SAS Token</a>




</div>
