<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/ce1f6b2d-0e32-48e7-9ee2-7048b0ab340f/resourceGroups/TrainingResourseGroup/providers/Microsoft.ContainerRegistry/registries/tinkushuklaregistry</ResourceId>
    <ResourceName>tinkushuklaregistry</ResourceName>
    <ResourceGroup>TrainingResourseGroup</ResourceGroup>
    <Subscription>Training Subscription</Subscription>
    <RegistryUrl>https://tinkushuklaregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ff3af663-6ad9-43c7-a56a-3b48f06add7d</ProjectGuid>
  </PropertyGroup>
</Project>